body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    max-width: 120ch;
}

input[type="radio"] {
    accent-color: black;
}

#uniHook {
    justify-content: center;
}
.flex-item {
    margin: 10px;
}

#erc20Hook {
    justify-content: center;
}
.flex-item {
    margin: 10px;
}

#frobControls {
    justify-content: center;
}
#erc20FrobControls {
    justify-content: center;
}

#nftContainer {
    display: flex;
    flex-wrap: wrap;
}
